html {
    scroll-behavior: smooth;
}

.heading-1 {
    font-size: 2rem !important; 
    font-weight: 600;
}

.heading-2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem !important; 
    font-weight: 600;
}

.paragraph {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

main > .landing,
main > .project {
    height: 100vh;
}

main > .contact {
    height: 80vh;
}

.icon-link {
    margin-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.icon-link > i {
    margin-bottom: .3rem;
    margin-right: .3rem;
}

.my-name {
    color: hotpink;
}

.skills-icon {
    transition: 0.2s ease-in;
}

.skills-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px 1px rgba(0,0,0,0.5);
}

.carousel {
    width: 50vw !important;
}

@media (max-width: 991.98px) {
    .landing-profile {
        height: 200px !important;
        width: 200px !important;
    }
    .skills-border {
        padding: 0 !important;
        margin: 0 !important;
    }
    .skills-icon {
        height: auto;
        width: 40px;
    }
    #projects {
        margin-top: 1rem;
    }
    .proj-item {
        height: 350px;
        width: 80vw;
    }
    .carousel {
        width: 80vw !important;
    }
}
