html {
    scroll-behavior: smooth;
}

.heading-1 {
    font-size: 2rem !important; 
    font-weight: 600;
}

.heading-2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem !important; 
    font-weight: 600;
}

.paragraph {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

main > .landing,
main > .project {
    height: 100vh;
}